/* GLOBAL */
body {
    background-color: black;
    font-family: 'Open sans';
}

h2 {
    font-size: 18px;
}

hr {
    height: 1px;
    background-color: darkcyan;
}

/* NAVBAR */

.navbar-brand {
    font-size: 20px;
    font-weight: bold;
}

.navbar-brand img{
    width: 20px;
}


/*QUIENES SOMOS */

#quienes-somos div h2 {
    font-size: 18px;
}

#quienes-somos div hr {
    height: 1px;
    background-color: darkcyan;
}

#quienes-somos p {
    font-size: 12px;
}

#icon, .card-body {
    background-color: darkcyan;
}

/* DESTACADOS */

.card-title {
    font-size: 16px;
}

.card-text {
    font-size: 14px;
}

/* CONTACTO */
#contacto iframe {
    margin-top: -4px;
}

/* FOOTER */
footer {
    background-color: rgb(28, 147, 169);
}

footer a {
    color: white;
}